/data/*
/pv_seasonality/*
/Results_seasonality/*
/Results_seasonality/*.png
/Maintenance/*
/.gitignore
/Maintenance/alerts_*
/Maintenance/daily_kpis_*
/Maintenance/daily_kpis*.csv
/Results_seasonality/2020-01-2025-8/dashboard_bun_bg.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_carm1.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_hsc.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_hu3.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_library.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_lims1.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_ltss_pv_lgcmeter.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_lwso.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_mc.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_pe.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_ps2.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_pw.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_rd1.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_rd2.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_rlr.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_sw.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_tlc.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_union.png
/Results_seasonality/2020-01-2025-8/dashboard_bun_wlt.png
/Results_seasonality/dashboard_bun_bg.png
/Results_seasonality/dashboard_bun_carm1.png
/Results_seasonality/dashboard_bun_hs3.png
/Results_seasonality/dashboard_bun_hsc.png
/Results_seasonality/dashboard_bun_hu3.png
/Results_seasonality/dashboard_bun_library.png
/Results_seasonality/dashboard_bun_lims1.png
/Results_seasonality/dashboard_bun_ltss_pv_lgcmeter.png
/Results_seasonality/dashboard_bun_lwso.png
/Results_seasonality/dashboard_bun_pe.png
/Results_seasonality/dashboard_bun_ps2.png
/Results_seasonality/dashboard_bun_rd1.png
/Results_seasonality/dashboard_bun_rd2.png
/Results_seasonality/dashboard_bun_rlr.png
/Results_seasonality/dashboard_bun_sw.png
/Results_seasonality/dashboard_bun_tlc.png
/Results_seasonality/dashboard_bun_union.png
/Results_seasonality/dashboard_bun_wlt.png
/Results_seasonality/last/data_cleaning_qc_report_v2.csv
/Results_seasonality/New folder/yearly_degradation_summary.csv
/Results_seasonality/New folder/yearly_degradation_vs_2020.png
/Results_seasonality/last/yearly_degradation_summary.csv
/Results_seasonality/last/yearly_degradation_vs_2020.png
/Results_seasonality/2020-01-2025-8/soiling_events.csv
/Results_seasonality/2020-01-2025-8/soiling_fleet_dashboard.png
/Results_seasonality/2020-01-2025-8/soiling_rain_events.csv
/Results_seasonality/2020-01-2025-8/soiling_rain_summary.csv
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_bg.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_carm1.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_carm2.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_cs1.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_dmw.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_dw.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_hs1.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_hs2.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_hs3.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_hsc.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_hu3.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_library.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_lims1.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_ltss_pv_lgcmeter.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_lwso.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_mc.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_pe.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_ps2.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_pw.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_rd1.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_rd2.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_rlr.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_sw.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_tlc.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_union.png
/Results_seasonality/2020-01-2025-8/soiling_sawtooth_bun_wlt.png
/Results_seasonality/2020-01-2025-8/soiling_seasonal_rates.csv
/Results_seasonality/soiling_events.csv
/Results_seasonality/soiling_fleet_dashboard.png
/Results_seasonality/soiling_rain_events.csv
/Results_seasonality/soiling_rain_summary.csv
/Results_seasonality/soiling_sawtooth_bun_bg.png
/Results_seasonality/soiling_sawtooth_bun_carm1.png
/Results_seasonality/soiling_sawtooth_bun_carm2.png
/Results_seasonality/soiling_sawtooth_bun_cs1.png
/Results_seasonality/soiling_sawtooth_bun_dmw.png
/Results_seasonality/soiling_sawtooth_bun_dw.png
/Results_seasonality/soiling_sawtooth_bun_hs1.png
/Results_seasonality/soiling_sawtooth_bun_hs2.png
/Results_seasonality/soiling_sawtooth_bun_hs3.png
/Results_seasonality/soiling_sawtooth_bun_hsc.png
/Results_seasonality/soiling_sawtooth_bun_hu3.png
/Results_seasonality/soiling_sawtooth_bun_library.png
/Results_seasonality/soiling_sawtooth_bun_lims1.png
/Results_seasonality/soiling_sawtooth_bun_ltss_pv_lgcmeter.png
/Results_seasonality/soiling_sawtooth_bun_lwso.png
/Results_seasonality/soiling_sawtooth_bun_mc.png
/Results_seasonality/soiling_sawtooth_bun_pe.png
/Results_seasonality/soiling_sawtooth_bun_ps2.png
/Results_seasonality/soiling_sawtooth_bun_pw.png
/Results_seasonality/soiling_sawtooth_bun_rd1.png
/Results_seasonality/soiling_sawtooth_bun_rd2.png
/Results_seasonality/soiling_sawtooth_bun_rlr.png
/Results_seasonality/soiling_sawtooth_bun_sw.png
/Results_seasonality/soiling_sawtooth_bun_tlc.png
/Results_seasonality/soiling_sawtooth_bun_union.png
/Results_seasonality/soiling_sawtooth_bun_wlt.png
/Results_seasonality/soiling_seasonal_rates.csv
/Results_seasonality/2020-01-2025-8/seasonal_degradation.csv
/Results_seasonality/New folder/seasonal_degradation_by_year.png
/Results_seasonality/New folder/seasonal_degradation_summary.csv
/Results_seasonality/last/seasonal_degradation_by_year.png
/Results_seasonality/last/seasonal_degradation_summary.csv
/Results_seasonality/seasonal_degradation.csv
/Results_seasonality/2020-01-2025-8/monthly_pi.csv
/Results_seasonality/last/monthly_median_PI_expected_baseline.csv
/Results_seasonality/last/monthly_median_PI_expected_baseline.png
/Results_seasonality/last/monthly_median_PR_v2.csv
/Results_seasonality/monthly_pi.csv
/Results_seasonality/New folder/degradation_overview.png
/Results_seasonality/last/degradation_expected_baseline.csv
/Results_seasonality/last/degradation_expected_baseline_checklist.txt
/Results_seasonality/last/degradation_overview.png
/Results_seasonality/2020-01-2025-8/degradation_summary.csv
/Results_seasonality/degradation_summary.csv
/del.py
/Maintenance/daily_kpis_solar.bun_bg\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_carm1\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_carm2\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_cs1\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_dmw\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_dw\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_hs1\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_hs2\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_hs3\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_hsc\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_hu3\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_library\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_lims1\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_ltss_pv_lgcmeter\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_lwso\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_mc\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_pe\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_ps2\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_pw\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_rd2\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_rlr\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_sw\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_tlc\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_union\#realenergyintotheload\#kwh.csv
/Maintenance/daily_kpis_solar.bun_wlt\#realenergyintotheload\#kwh.csv
*.csv
/Results_seasonality/2020-01-2025-8/outage_blocks_report_2020_2025.csv
/Results_seasonality/2020-01-2025-8/fleet_overview.png
/Results_seasonality/fleet_overview.png
/Results_seasonality/New folder/cluster_seasonal_degradation.png
/Results_seasonality/New folder/cluster_seasonal_degradation_summary.csv
/Results_seasonality/last/cluster_seasonal_degradation.png
/Results_seasonality/last/cluster_seasonal_degradation_summary.csv
*.pyc
/Maintenance/alerts_solar.bun_tlc\#realenergyintotheload\#kwh.csv
/Maintenance/alerts_solar.bun_union\#realenergyintotheload\#kwh.csv
/Maintenance/alerts_solar.bun_wlt\#realenergyintotheload\#kwh.csv
